body, html{
    margin:0;
}

/* HEADER STYLING START*/

.header{
    background-color:#92B8B7;
    display:flex;
    justify-content:center;
    position:sticky;
    top:0;
}

.header-h1{
    color:#fefefe;
    /* padding-right:60px; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}

.dropdown-ikon{
    border: solid #fefefe 2px;
    border-radius:7px;
    padding:3px;
}
/* HEADER STYLING SLUT*/
/* __________________________________________________________________________________________________________ */


/* MAIN STYLING START */
    .main-h1{
        color:#707070;
        padding-left:10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bold;
    }

    .main{
        margin-right:25px;
    }

    main p{
        color:#707070;
        font-family: Arial, Helvetica, sans-serif;
    }

    main>article>p{
        background-color:#92B8B7;
        margin-bottom:20px;
    }

    .main-section-p{
        padding-left: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .reset-figure{
        margin-left:0;
        margin-right:0;
    }

    .flex{
        display: flex;
        margin-left:10px;
    }
/* MAIN STYLING SLUT */

/* ____________________________________________________________________________________________________________ */



/* FOOTER STYLING START */
    .footer{
        background-color:#707070;
    }
    .footer-section{
        display: flex;
        justify-content: space-between;
    }
    
    .footer-section>div:first-of-type>p:first-of-type{
        margin-top:20px;
    }

    .footer-section>div>p{
        font-family: Arial, Helvetica, sans-serif;
        color:#fefefe;
        margin: 0 auto;
        padding-left:10px;
    }

    .footer-p{
        font-size:12px;
        text-align:center;
        padding-top:15px;
        padding-bottom:0;
        font-family: Arial, Helvetica, sans-serif;
        color:#fefefe;
    }
/* FOOTER STYLING SLUT */